.configSection {
	padding : 25px;
}

.configSection .deviceButton{
	margin-right : 10px;
}


.configSection .buttonsArea{
	margin-top : 10px;
}

.configSection .deviceConfig{
	margin-top: 15px;
}

.configSection .horizontalDevice{
	height : 300px;
	width : 530px;
	background-color : #dadada;
}

.configSection .verticalDevice{
	width : 300px;
	height : 530px;
	background-color : #dadada;
}

