.configSection {
	padding : 25px;
}

.configSection .deviceButton{
	margin-right : 10px;
}


.configSection .buttonsArea{
	margin-top : 10px;
}

.configSection .deviceConfig{
	margin-top: 15px;
}

.configSection .horizontalDevice{
	height : 200px;
	background-color : #dadada;
	padding : 20px;
}

.configSection .verticalDevice{
	height : 500px;
	background-color : #dadada;
	padding : 10px;
}

