.configSection {
	padding : 25px;
}

.configSection .deviceButton{
	margin-right : 10px;
}

.configSection .importantText{
	font-size : smaller;
	font-weight : bolder;
}

.configSection .info_text{
	font-size : smaller;
}

.configSection .deviceConfig{
	margin-top: 15px;
}

.configSection .section{
	margin-bottom: 25px !important;
}

.configSection .small-group{
	margin-top: 20px
}


.configSection .lead{
	margin-bottom : 5px !important;
}

.configSection button.btn_selected{
	text-decoration : underline;
	font-weight : bold;
}

.configSection .section .body{
	border : thin solid #3174AE;
	padding-top : 15px;
	padding-bottom : 15px;
	border-radius : 10px;
}

.configSection  .device{
	margin-top : 15px;
}

.configSection .horizontalDevice{
	height : 255px;
	width : 470px;
	margin-left : auto;
	margin-right : auto;
	background-image : url(../images/movil_horizontal.png);
	background-size : contain;
	padding-top : 15px;	
	padding-left : 90px;
}

.configSection .horizontalDevice .screen{
	height : 224px;
	width : 294px;
	background-color : #191919;
}

.configSection .verticalDevice{
	width : 204px;
	height : 376px;
	margin-left : auto;
	margin-right : auto;
	background-image : url(../images/movil_vertical.png);
	background-size : contain;
	padding-top : 48px;	
	padding-left : 12px;
}


.configSection .verticalDevice .screen{
	width : 179px;
	height : 250px;
	background-color : #191919;
}

.configSection  .screen button.element{
	border: 3px solid #181818;
    border-radius: 9px;
}
