.fondo_img{
    background: url("../images/img.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	z-index:-1;
}

.Lblanca{
	color: #FFF;
}

.titulo{
	padding-top : 3%;
}

.bienvenido{
	color : #FFF;
	font-size : large;
	padding-top : 1.8em;
}