a:link{text-decoration:none;}
a:visited {text-decoration:none;}
.fondo_img{
    background: url("../images/img.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	z-index:-1;
}

.Lblanca{
	color: #FFF;
}
.oculto{
	display: none;
}
.titulo{
	padding-top : 0px;
	margin : 0px;
}

.bienvenido{
	color : #FFF;
	font-size : large;
}

.form-group{
	margin-bottom : 0px !important;
}
.tamxl {
    font-size:xx-large;
}
.taml {
    font-size:x-large;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}

.errores{
    display: none;
}
.errores:before{ /* Este es un truco para crear una flechita */
}
.editar {color: blue; cursor:pointer;}

.fondoblanco{
background-color : #FFFFFF;
}

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:auto;
  height: auto;
  color: #000000;
  padding: .5em;
  background: #FFE1AD;
  text-align: center;
  visibility: hidden;
  border-radius: 12px;
  box-shadow: 2px 2px 5px #FFB366;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #FFE1AD;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}


/** borja **/
.shadow { 
	box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.75) !important;
}

.vertical_align_row {
	display: flex;
	align-items: center;
}
