.fondo_img{
    background: url("../images/img.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	z-index:-1;
}
