.homeController  .container-fluid.horizontalLayout  > .row{
	height : 100vh;
}

.homeController .leftArrow{
	padding : 0px !important;
	height : 100%;
}

.homeController .leftArrow button{
	height : 100%;
	width : 100%;
	background-color : black;
	color : white;
	font-weight : bold;
	font-size : x-large;
	border-radius : 0px;
}

.homeController .leftArrow button.disabled{
	background-color : gray;
	color : white;
}

.homeController .leftArrow button.active{
	background-color : yellow;
}

.homeController .rightArrow{
	height : 100%;
	padding : 0px !important;
}

.homeController .rightArrow button{
	height : 100%;
	width  : 100%;
	background-color : black;
	color : white;
	font-weight : bold;
	font-size : x-large;
	border-radius : 0px;
}

.homeController .rightArrow button.disabled{
	
	background-color : gray;
	color : white;
	
}

.homeController .rightArrow button.active{
	background-color : yellow;
}

.homeController .roomsButtons{
	background-color : blue;
	height : 100vh;
	padding-top : 1% !important;
	padding : 0px !important;
}

.homeController .roomsButtons .elementsLayout{
	height : 97%;
	padding-left : 1% !important;
	padding-right : 1% !important;
}

.homeController .roomsButtons .elementsLayout.fullLayout{
	height : 100%;
}

.homeController .roomsButtons .progressBarContainer{
	height : 3%;
	padding : 0px;
	display : flex;
	flex-direction: row;
}

.homeController .roomsButtons .progressBarContainer .progressBar{
	height : 50%;
	background-color : red;
	align-self : flex-end;
	width : 100%;
}

.homeController .roomsButtons .button{
	border-radius : 10px;
	border : 4px solid;
	border-color : blue;
	font-size : x-large;
	font-weight : bold;
	background-color : gray;
	display : inline-block;
	cursor : pointer;
	color : black;
	height : 100%;
}

@media (max-width: 768px) {
	.homeController .roomsButtons .button{
		font-size : medium;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.homeController .roomsButtons .button{
		font-size : large;
	}
}

.homeController .roomsButtons .button .buttonLayout{
	display : flex;
	flex-direction : column-reverse;
	justify-content : space-around;
	height : 100%;
}

.homeController .roomsButtons .button .buttonLayout > *{
	align-self : center;
}

.homeController .roomsButtons .button .buttonLayout > img{
	width : 50%;
	max-height : 50%;
}

.homeController .roomsButtons .button.selected{
	background-color : yellow;
}

.homeController .roomsButtons .button.isActive .sensorValue{
	text-decoration : underline;
	font-weight : bolder;
}

.homeController .roomsButtons .button.currentValue{
	border : medium solid black;
	background-color : #aaaaaa;
}

.homeController .roomsButtons .button.currentValue .sensorValue{
	text-decoration : underline;
	font-weight : bolder;
}

.homeController  .container-fluid.verticalLayout {
	height : 100vh;
}

.homeController  .verticalLayout .verticalBody{
	height : 90% !important;
}

.homeController  .verticalLayout .verticalBody.fullBody{
	height : 100% !important;
}

.homeController  .verticalLayout .navigationArrows{
	background-color : white;
	height : 10%;
}

.homeController  .verticalLayout .navigationArrows .arrow{
	height : 100%;
	padding : 0px;
}

.homeController  .verticalLayout .navigationArrows .arrow.leftArrow{
	padding-right : 0.5% !important;
}

.homeController  .verticalLayout .navigationArrows .arrow.rightArrow{
	padding-left : 0.5% !important;
}

.homeController  .verticalLayout .navigationArrows .arrow > button{
	height : 100%;
	width : 100%;
	background-color : black;
	color : white;
	font-weight : bold;
	font-size : x-large;
	border-radius : 0px;
}

.homeController  .verticalLayout .navigationArrows .arrow > button.active{
	background-color : yellow;
}


