.navbar-inverse .titulo > a{
	color: white; 
}

.navbar-inverse  .fa-bars {
	color : white;
}

.navbar-inverse .fa-sign-out {
	color : yellow;
}

.navbar-inverse .navIcon {
	text-align : center;
}

.navbar-inverse .navLogo {
	float : right;
	width : 70px; 
	height : 70px;

}

@media(max-width:767px){
	.navbar-inverse .navLogo {
		width : 50px; 
		height : 50px;
		float : left;
	}
}


.navbar-inverse .mobile_login_btn {
	
}

.navbar-inverse .login_bar {
	padding : 5px;
	background-color : #343434;
	
}

.navbar-inverse .navMenu {
	background-color : #343434;
	padding-top : 10px;
	border-bottom : 4px solid red;
}

.navbar-inverse .item {
	color : white;
	font-family : 'Raleway', sans-serif;
	font-size : large;
	font-weight : bold;
	padding-left : 10px;
}

.navbar-inverse .item  a{
	color : white;
}