div.data-panel{
-webkit-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.75);
box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.75);
}

div.data-panel>div.panel-heading>span.title{
	font-size : xx-large;
	font-family: 'Raleway', sans-serif;
	font-weight : bold;
	vertical-align : middle;
}

div.data-panel>div.panel-body{
	font-family: 'Open Sans', sans-serif;
	font-size : x-large;
	background: #a1dbff;
	background: -moz-linear-gradient(top, #a1dbff 0%, #cbebff 0%, #f0f9ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1dbff), color-stop(0%,#cbebff), color-stop(100%,#f0f9ff));
	background: -webkit-linear-gradient(top, #a1dbff 0%,#cbebff 0%,#f0f9ff 100%);
	background: -o-linear-gradient(top, #a1dbff 0%,#cbebff 0%,#f0f9ff 100%);
	background: -ms-linear-gradient(top, #a1dbff 0%,#cbebff 0%,#f0f9ff 100%);
	background: linear-gradient(to bottom, #a1dbff 0%,#cbebff 0%,#f0f9ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=0 );
}

div.data-panel>div.panel-body>ul>li{
	color : #black;
}

div.data-panel>div.panel-body>ul>li>a{
	color : black;
}


