.userDeviceLinker {
	
}

.userDeviceLinker .bold_text{
	font-weight : bold;
}

.userDeviceLinker .selectDevices {
	font-size : 16px;
	font-size : medium;
	font-family: 'Raleway', sans-serif;
	margin-top : 25px;
}

.userDeviceLinker .selectDevices .title{
	background-color : #4CAE4C;
	font-size : larger;
	padding : 5px;
	color : white;
	font-weight : bold;
}

.userDeviceLinker .selectDevices .data{
	padding:10px;
	position : relative;
}

.userDeviceLinker .selectDevices .data .device{
	padding: 5px;
	border : thin solid blue;
	border-bottom : none;
	cursor : pointer;
}

.userDeviceLinker .selectDevices .data .device:hover {
	background-color : #B8B8B8;
}

.userDeviceLinker .selectDevices .data .device:last-child{
	border-bottom : thin solid blue;
}

.userDeviceLinker .selectDevices .actions button {
	margin-top : 5px;
	width : 100%;
	bottom : 0px;
}

.userDeviceLinker .selectDevices .actions {
	height : 300px;
	padding-top : 100px;
}

.userDeviceLinker .selectDevices .data .device.active {
	background-color : #00FF66;
}

.userDeviceLinker .selectDevices .toAddDevice {
	height : 300px;
	background-color : #eee;
	padding-left : 0px;
	padding-right : 0px;
	overflow:auto;

}

.userDeviceLinker .selectDevices .allDevices {
	height : 300px;
	background-color : #eee;
	overflow:auto;
	padding-left : 0px;
	padding-right : 0px;
	
}


.userDeviceLinker .addDevice {
	margin-top : 40px;
}

.userDeviceLinker .addDevice  .newDevice input{
	height : 20px;
	width : 20px;
}

.userDeviceLinker .addDevice  .newDevice span {
	font-size : larger;
	font-weight : bold;
}


.userDeviceLinker .addDevice  .newDeviceData{
	margin-top : 20px;
}