{% extends "layout.twig.html" %}
{% block contenido %}


<div class="panel panel-primary data-panel">
	<div class="panel-heading" >

		<span class='title' >
			Administrar casa
		</span>
		
	</div>
	<div class="panel-body">
		{% for c in casa %}
		<form class='standar_h4a_form' role="form" action="{{ path('modCasa') }}" method="post">
			
				<input type='text' class="oculto" name='id_vivienda' value={{c.id_vivienda}}>
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='direccion_vivienda'>Direccion</label><br>
					<input type='text' class="form-control" name='direccion_vivienda' value={{c.direccion_vivienda}}>
				</div>
			</div>			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='localidad_vivienda'>Localidad</label><br>
					<input type='text' class="form-control" name='localidad_vivienda' value={{c.localidad_vivienda}}>
				</div>
			</div>			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='provincia_vivienda'>Provincia</label><br>
					<input type='text' class="form-control" name='provincia_vivienda' value={{c.provincia_vivienda}}>
				</div>
			</div>
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='cp_vivienda'>CP</label><br>
					<input type='number' class="form-control" name='cp_vivienda' value={{c.cp_vivienda}}>
				</div>
			</div>			
			<div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<button id="boton_usuario" type="submit" class="btn btn-primary btn-lg">Actualizar</button>
				</div>
			</div>
		</form>
		{% endfor %}<br/>
		<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
			<a href="#" class="btn btn-primary btn-lg" role="button">Administrar habitaciones</a>
			<a href="#" class="btn btn-primary btn-lg" role="button">Administrar Patrones</a>				
		</div>
	</div>
</div>


{% endblock %}

