{% extends "layout.twig.html" %}
{% block contenido %}
<div class="panel panel-primary data-panel shadow">
	<div class="panel-heading" >	
		<span class='title' >
				Creando usuario, paso 4 de 4: Configuración de la interfaz 
		</span>
	</div>
	<div class="panel-body">
		Aqui la config
			</div>
  <!--
  <div class="form-group">
  <label class="taml"  for="ejemplo_mac">Tipo de discapacnamead</label>
<ul type="none">
  <li><input type="checkbox" name="discvis" value="opcion_1"> Visual</li>
  <li><input type="checkbox" name="discaudit" value="opcion_1"> Auditiva</li>
  <li><input type="checkbox" name="discmotriz" value="opcion_1"> Motriz</li>
  </ul>
  </div> -->
	</div>	
{% endblock %}


