{% extends "layoutUsers.html" %}

{% block cssInclude%} 
		<link href="{{ app.request.basepath }}/css/{{ cssFile }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block homeApp %}	
<div class="homeController" ng-controller="homeController" user-data={{data}} resize-dispacher>
	<!-- layout horizontal -->
	<div class="container-fluid horizontalLayout" ng-if="getScreenPosition() == 'horizontal'" ng-switch="sectionControll.selected" ng-click="isScanning() && clickOnScanning()">
		
		<!-- seccion de las habitaciones de la casa -->
		<div class="row" ng-switch-when="0">
			<div class="col-xs-1 leftArrow" ng-if="needNavigation == 1">
				<button class="btn" ng-class="{'disabled' : isFirstPage(), 'active' : scanning.leftArrow }" ng-click="!isScanning() && clickPrevious()"><</button>
			</div>
			
			<div class="roomsButtons" ng-class="{'col-xs-12' : needNavigation == 0, 'col-xs-10' : needNavigation == 1}">
				<div class="elementsLayout" ng-class="{'fullLayout' : !isScanning()}">
					<div ng-repeat="fila in range(0, filas)"  style = "height : {{'{{buttonSize.height}}'}}%">
						<div 
						class = "button"
						ng-repeat = "col in range(0, cols)"
						ng-show = "showButton(getButtonIndex(fila, col), rooms.length)" 
						style = "width : {{'{{buttonSize.width}}'}}%"
						ng-click = "!isScanning() && clickRoom(rooms[getButtonIndex(fila, col)])"
						ng-class = "{'selected' : isCurrentScanned(fila*cols + col)}"
						>
							<!-- botones para las habitaciones -->
							<div ng-if = "rooms[getButtonIndex(fila, col)].type != 'salir'" class="buttonLayout disabled">
								<span ng-bind="getLimitedText(rooms[getButtonIndex(fila, col)].nombre_habitacion)">
								</span>
								
								<img ng-if="!offline" ng-src="{{'{{rooms[getButtonIndex(fila, col)].img}}'}}" alt="" />
								<img ng-if="offline" ng-src="/H4A/web/images/svg/home.svg" alt="" />
								
								<span>
								</span>
							</div>
							
							<!-- boton para salir -->
							<div ng-if = "rooms[getButtonIndex(fila, col)].type == 'salir'" class="buttonLayout">
								<span>
									Salir
								</span>
								
								
								<img ng-if="!offline" ng-src="{{'{{assets.logOut}}'}}" alt="" />
								<img ng-if="offline" ng-src="/H4A/web/images/svg/logOut.svg" alt="" />
								
								<span>
								</span>
							</div>
							
						</div>
						
					</div>
				</div>

				<div class="progressBarContainer" ng-if = "isScanning()">
					<div class="progressBar" style = "width : {{'{{barPercent}}'}}%">
					</div>
				</div>


			</div>
			
			<div class="col-xs-1 rightArrow" ng-if="needNavigation == 1"> 
				<button ng-click="!isScanning() && clickNext()" class="btn" ng-class="{'disabled' : isLastPage(), 'active' : scanning.rightArrow}">></button>
			</div>

		</div>
		
		<!-- seccion de los sensores de una habitacion -->
		<div class="row" ng-switch-when="1" >
			<div class="col-xs-1 leftArrow" ng-if="needNavigation == 1">
				<button class="btn" ng-class="{'disabled' : isFirstPage(), 'active' : scanning.leftArrow}" ng-click="!isScanning() && clickPrevious()"><</button>
			</div>
							
			<div class="roomsButtons" ng-class="{'col-xs-12' : needNavigation == 0, 'col-xs-10' : needNavigation == 1}">
			
				<div class="elementsLayout" ng-class="{'fullLayout' : !isScanning()}">
					<div ng-repeat="fila in range(0, filas)" style = "height : {{'{{buttonSize.height}}'}}%">
						<div 
						class = "button"
						ng-repeat = "col in range(0, cols)" 
						ng-show = "showButton(getButtonIndex(fila, col), roomSensors.length)" 
						style = "width : {{'{{buttonSize.width}}'}}%"
						ng-click = "!isScanning() && clickSensor(roomSensors[getButtonIndex(fila, col)])"
						ng-class = "{'selected' : isCurrentScanned(fila*cols + col), 'isActive' : isSensorActive(roomSensors[getButtonIndex(fila, col)])}"
						>
							<div class="buttonLayout" ng-if="roomSensors[getButtonIndex(fila, col)].type != 'salir' && roomSensors[getButtonIndex(fila, col)].type != 'onlyReadSensors'">
								<span class="sensorValue">
									Valor: <span ng-bind = "parseSensorValue(roomSensors[getButtonIndex(fila, col)])"></span>
								</span>
								
								
								<img ng-if="!offline" ng-src="{{'{{roomSensors[getButtonIndex(fila, col)].img}}'}}" alt="" />
								<img ng-if="offline && roomSensors[getButtonIndex(fila, col)].TipoValor == '0' && roomSensors[getButtonIndex(fila, col)].Valor == '0'"  ng-src="/H4A/web/images/svg/digitalOFF.svg" alt="" />
								<img ng-if="offline && roomSensors[getButtonIndex(fila, col)].TipoValor == '0' && roomSensors[getButtonIndex(fila, col)].Valor == '1'"  ng-src="/H4A/web/images/svg/digitalON.svg" alt="" />
								<img ng-if="offline && roomSensors[getButtonIndex(fila, col)].TipoValor == '1'" alt="" ng-src="/H4A/web/images/svg/digital.svg"/>
								<img ng-if="offline && roomSensors[getButtonIndex(fila, col)].TipoValor == '2'" alt="" ng-src="/H4A/web/images/svg/analogic.svg"/>
								
								<span ng-bind="getLimitedText(roomSensors[getButtonIndex(fila, col)].nombre_sensor)">
									
								</span>
							</div> 
							
							<div class="buttonLayout" ng-if="roomSensors[getButtonIndex(fila, col)].type == 'salir'" >
								<span>
									Atrás
								</span>
								
								<img ng-if="!offline" ng-src="{{'{{assets.back}}'}}" alt="" />
								<img ng-if="offline" ng-src="/H4A/web/images/svg/back.svg" alt="" />
								
								<span>
									&nbsp;
								</span>
							</div> 
							
							<div class="buttonLayout" ng-if="roomSensors[getButtonIndex(fila, col)].type == 'onlyReadSensors'" >
							<span>
								Sensores
							</span>
							
							<img ng-if="!offline" ng-src="{{'{{assets.sensors}}'}}" alt="" />
							<img ng-if="offline" ng-src="/H4A/web/images/svg/sensors.svg" alt="" />
							
							<span>
								&nbsp;
							</span>
						</div> 
						</div>
					</div>
				</div>

				<div class="progressBarContainer" ng-if = "isScanning()">
					<div class="progressBar" style = "width : {{'{{barPercent}}'}}%">
					</div>
				</div>

			</div>
			
			<div class="col-xs-1 rightArrow" ng-if="needNavigation == 1"> 
				<button ng-click="!isScanning() && clickNext()" class="btn" ng-class="{'disabled' : isLastPage(), 'active' : scanning.rightArrow}">></button>
			</div>
		</div>
		
		<!-- seccion de los sensores de n estados -->
		<div class="row" ng-switch-when="2">
			<div class="col-xs-1 leftArrow" ng-if="needNavigation == 1">
				<button class="btn" ng-class="{'disabled' : isFirstPage(), 'active' : scanning.leftArrow}" ng-click="!isScanning() && clickPrevious()"><</button>
			</div>
							
			<div class="roomsButtons" ng-class="{'col-xs-12' : needNavigation == 0, 'col-xs-10' : needNavigation == 1}">
			
				<div class="elementsLayout" ng-class="{'fullLayout' : !isScanning()}">
					<div ng-repeat="fila in range(0, filas)" style = "height : {{'{{buttonSize.height}}'}}%">
						<div 
						class = "button"
						ng-repeat = "col in range(0, cols)" 
						ng-show = "showButton(getButtonIndex(fila, col), sensorStates.length)" 
						style = "width : {{'{{buttonSize.width}}'}}%"
						ng-click = "!isScanning() && clickNewState(sensorStates[getButtonIndex(fila, col)])"
						ng-class = "{'selected' : isCurrentScanned(fila*cols + col), 'currentValue' : isCurrentSensorValue(sensorStates[getButtonIndex(fila, col)])}"
						>
							<div class="buttonLayout" ng-if="sensorStates[getButtonIndex(fila, col)].type != 'salir'">
								<span>
									&nbsp;
								</span>
								
								<span class="sensorValue">
									Valor: <span ng-bind = "sensorStates[getButtonIndex(fila, col)]"></span>
								</span>

								<span ng-bind="getLimitedText(selectedNStateSensor.nombre_sensor)">
								</span>
								
								
							</div> 
							
							<div class="buttonLayout" ng-if="sensorStates[getButtonIndex(fila, col)].type == 'salir'" >
								<span>
									Atrás
								</span>
								
								<img ng-if="!offline" ng-src="{{'{{assets.back}}'}}" alt="" />
								<img ng-if="offline" ng-src="/H4A/web/images/svg/back.svg" alt="" />
								
							</div> 
						</div>
					</div>
				</div>

				<div class="progressBarContainer" ng-if = "isScanning()">
					<div class="progressBar" style = "width : {{'{{barPercent}}'}}%">
					</div>
				</div>

			</div>
			
			<div class="col-xs-1 rightArrow" ng-if="needNavigation == 1"> 
				<button ng-click="!isScanning() && clickNext()" class="btn" ng-class="{'disabled' : isLastPage(), 'active' : scanning.rightArrow}">></button>
			</div>
		</div>
		
		<!-- seccion de los sensores analógicos-->
		<div class="row" ng-switch-when="3">
			<div class="col-xs-1 leftArrow" ng-if="needNavigation == 1">
				<button class="btn" ng-class="{'disabled' : isFirstPage(), 'active' : scanning.leftArrow}" ng-click="!isScanning() && clickPrevious()"><</button>
			</div>
							
			<div class="roomsButtons" ng-class="{'col-xs-12' : needNavigation == 0, 'col-xs-10' : needNavigation == 1}">
			
				<div class="col-xs-12 elementsLayout analogicSection" ng-class="{'fullLayout' : !isScanning()}">
					
					<div class="col-xs-12 sensorInfo">
						<div ng-bind="analogic.sensor.nombre_sensor">
						</div>
						<div>
							Valor: <span ng-bind="analogic.val"></span>
						</div>
						<div class="extraInfo">
							(min, max): (<span ng-bind="analogic.min"></span>, <span ng-bind="analogic.max"></span>)
						</div>
						<button ng-if="debugMode" ng-click="debug()">
							Scope
						</button>
					</div>
					
					<div class="rangeUpperContainer col-xs-12">
						<div>
						</div>
						
						<div class="col-xs-12 rangeSection">
							<div class="col-sm-1 hidden-xs minValueContainer">
								<span ng-bind="analogic.min"></span>
							</div>
							<div class="col-sm-10 col-xs-12 rangeInputContainer">
								<input class="" type="range" min={{'{{analogic.min}}'}} ng-model="analogic.val" max={{'{{analogic.max}}'}} step={{'{{analogic.step}}'}} ng-click="clickNewAnalogicValue(analogic.val)">
							</div>
							
							<div class="col-sm-1 hidden-xs maxValueContainer">
								<span ng-bind="analogic.max"></span>
							</div>
						</div>
						
						<div class="col-sm-10 col-xs-12 col-sm-offset-1 progressBarAnalogicContainer">
							<div class="progressBarAnalogic">
								
							</div>
						</div>
					</div>
							
					<button class="button col-xs-12 backButton" ng-click="backToSensors()">Atrás</button>
				</div>

				<div class="progressBarContainer" ng-if = "isScanning()">
					<div class="progressBar" style = "width : {{'{{barPercent}}'}}%">
					</div>
				</div>

			</div>
			
			<div class="col-xs-1 rightArrow" ng-if="needNavigation == 1"> 
				<button ng-click="!isScanning() && clickNext()" class="btn" ng-class="{'disabled' : isLastPage(), 'active' : scanning.rightArrow}">></button>
			</div>
		</div>
		
		<!-- sección de los sensores de solo lectura -->
		<div class="row" ng-switch-when="4" >
			<div class="col-xs-1 leftArrow" ng-if="needNavigation == 1">
				<button class="btn" ng-class="{'disabled' : isFirstPage(), 'active' : scanning.leftArrow}" ng-click="!isScanning() && clickPrevious()"><</button>
			</div>
							
			<div class="roomsButtons" ng-class="{'col-xs-12' : needNavigation == 0, 'col-xs-10' : needNavigation == 1}">
			
				<div class="elementsLayout" ng-class="{'fullLayout' : !isScanning()}">
					<div ng-repeat="fila in range(0, filas)" style = "height : {{'{{buttonSize.height}}'}}%">
						<div 
						class = "button"
						ng-repeat = "col in range(0, cols)" 
						ng-show = "showButton(getButtonIndex(fila, col), roomSensors.length)" 
						style = "width : {{'{{buttonSize.width}}'}}%"
						ng-click = "!isScanning() && clickSensor(roomSensors[getButtonIndex(fila, col)])"
						ng-class = "{'selected' : isCurrentScanned(fila*cols + col), 'isActive' : isSensorActive(roomSensors[getButtonIndex(fila, col)])}"
						>
							<div class="buttonLayout" ng-if="roomSensors[getButtonIndex(fila, col)].type != 'salir' && roomSensors[getButtonIndex(fila, col)].type != 'onlyReadSensors'">
								<span class="sensorValue">
									Valor: <span ng-bind = "parseSensorValue(roomSensors[getButtonIndex(fila, col)])"></span>
								</span>
								
								
								<img ng-if="!offline" ng-src="{{'{{roomSensors[getButtonIndex(fila, col)].img}}'}}" alt="" />
								<img ng-if="offline" ng-src="/H4A/web/images/svg/sensors.svg" alt="" />
								
								<span ng-bind="getLimitedText(roomSensors[getButtonIndex(fila, col)].nombre_sensor)">
									
								</span>
							</div> 
							
							<div class="buttonLayout" ng-if="roomSensors[getButtonIndex(fila, col)].type == 'salir'" >
								<span>
									Atrás
								</span>
								
								<img ng-if="!offline" ng-src="{{'{{assets.back}}'}}" alt="" />
								<img ng-if="offline" ng-src="/H4A/web/images/svg/back.svg" alt="" />
								
								<span>
									&nbsp;
								</span>
							</div> 
						</div>
					</div>
				</div>

				<div class="progressBarContainer" ng-if = "isScanning()">
					<div class="progressBar" style = "width : {{'{{barPercent}}'}}%">
					</div>
				</div>

			</div>
			
			<div class="col-xs-1 rightArrow" ng-if="needNavigation == 1"> 
				<button ng-click="!isScanning() && clickNext()" class="btn" ng-class="{'disabled' : isLastPage(), 'active' : scanning.rightArrow}">></button>
			</div>
		</div>
		
		<div class="col-xs-12" ng-switch-default>
			Error
		</div>
	</div>	
	
	<!-- layout vertical -->
	<div class="container-fluid verticalLayout" ng-if="getScreenPosition() == 'vertical'" ng-switch="sectionControll.selected" ng-click="isScanning() && clickOnScanning()">
		
		<!-- seccion de las habitaciones de la casa -->
		<div class="row verticalBody roomsButtons" ng-class = "{'fullBody' : needNavigation == 0}" ng-switch-when="0">
			<div class="elementsLayout" ng-class="{'fullLayout' : !isScanning()}">
				<div ng-repeat="fila in range(0, filas)"  style = "height : {{'{{buttonSize.height}}'}}%">
					<div 
					class = "button"
					ng-repeat = "col in range(0, cols)"
					ng-show = "showButton(getButtonIndex(fila, col), rooms.length)" 
					style = "width : {{'{{buttonSize.width}}'}}%"
					ng-click = "!isScanning() && clickRoom(rooms[getButtonIndex(fila, col)])"
					ng-class = "{'selected' : isCurrentScanned(fila*cols + col)}"
					>
						<!-- botones para las habitaciones -->
						<div ng-if = "rooms[getButtonIndex(fila, col)].type != 'salir'" class="buttonLayout disabled">
							<span ng-bind="getLimitedText(rooms[getButtonIndex(fila, col)].nombre_habitacion)">
							</span>
							
							<img ng-if="!offline" ng-src="{{'{{rooms[getButtonIndex(fila, col)].img}}'}}" alt="" />
							<img ng-if="offline" ng-src="/H4A/web/images/svg/home.svg" alt="" />
							
							<span>
							</span>
						</div>
						
						<!-- boton para salir -->
						<div ng-if = "rooms[getButtonIndex(fila, col)].type == 'salir'" class="buttonLayout">
							<span>
								Salir
							</span>
							
							<img ng-if="!offline" ng-src="{{'{{assets.logOut}}'}}" alt="" />
							<img ng-if="offline" ng-src="/H4A/web/images/svg/logOut" alt="" />
							
							<span>
							</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="progressBarContainer" ng-if = "isScanning()">
				<div class="progressBar" style = "width : {{'{{barPercent}}'}}%">
				</div>
			</div>		
		</div>
		
		<!-- sección de los sensores de la casa -->
		<div class="row verticalBody roomsButtons" ng-class = "{'fullBody' : needNavigation == 0}" ng-switch-when="1">
			<div class="elementsLayout" ng-class="{'fullLayout' : !isScanning()}">
				<div ng-repeat="fila in range(0, filas)" style = "height : {{'{{buttonSize.height}}'}}%">
					<div 
					class = "button"
					ng-repeat = "col in range(0, cols)" 
					ng-show = "showButton(getButtonIndex(fila, col), roomSensors.length)" 
					style = "width : {{'{{buttonSize.width}}'}}%"
					ng-click = "!isScanning() && clickSensor(roomSensors[getButtonIndex(fila, col)])"
					ng-class = "{'selected' : isCurrentScanned(fila*cols + col), 'isActive' : isSensorActive(roomSensors[getButtonIndex(fila, col)])}"
					>
						<div class="buttonLayout" ng-if="roomSensors[getButtonIndex(fila, col)].type != 'salir' && roomSensors[getButtonIndex(fila, col)].type != 'onlyReadSensors'">
							<span class="sensorValue">
								Valor:  <span ng-bind = "parseSensorValue(roomSensors[getButtonIndex(fila, col)])"></span>
							</span>

								<img ng-if="!offline" ng-src="{{'{{roomSensors[getButtonIndex(fila, col)].img}}'}}" alt="" />
								<img ng-if="offline && roomSensors[getButtonIndex(fila, col)].TipoValor == '0' && roomSensors[getButtonIndex(fila, col)].Valor == '0'"  ng-src="/H4A/web/images/svg/digitalOFF.svg" alt="" />
								<img ng-if="offline && roomSensors[getButtonIndex(fila, col)].TipoValor == '0' && roomSensors[getButtonIndex(fila, col)].Valor == '1'"  ng-src="/H4A/web/images/svg/digitalON.svg" alt="" />
								<img ng-if="offline && roomSensors[getButtonIndex(fila, col)].TipoValor == '1'" alt="" ng-src="/H4A/web/images/svg/digital.svg"/>
								<img ng-if="offline && roomSensors[getButtonIndex(fila, col)].TipoValor == '2'" alt="" ng-src="/H4A/web/images/svg/analogic.svg"/>
							
							<span ng-bind="getLimitedText(roomSensors[getButtonIndex(fila, col)].nombre_sensor)">
								
							</span>
						</div> 
						
						<div class="buttonLayout" ng-if="roomSensors[getButtonIndex(fila, col)].type == 'salir'" >
							<span>
								Atrás
							</span>
							
							<img ng-if="!offline" ng-src="{{'{{assets.back}}'}}" alt="" />
							<img ng-if="offline" ng-src="/H4A/web/images/svg/back.svg" alt="" />
							
							<span>
								&nbsp;
							</span>
						</div> 
						
						<div class="buttonLayout" ng-if="roomSensors[getButtonIndex(fila, col)].type == 'onlyReadSensors'" >
							<span>
								Sensores
							</span>
							
							<img ng-if="!offline" ng-src="{{'{{assets.sensors}}'}}" alt="" />
							<img ng-if="offline" ng-src="/H4A/web/images/svg/sensors.svg" alt="" />
							
							<span>
								&nbsp;
							</span>
						</div> 
					</div>
				</div>
			</div>
			
			<div class="progressBarContainer" ng-if = "isScanning()">
				<div class="progressBar" style = "width : {{'{{barPercent}}'}}%">
				</div>
			</div>
		</div>
		
		<!-- sección de los sensores digitales de n estados -->
		<div class="row verticalBody roomsButtons" ng-class = "{'fullBody' : needNavigation == 0}" ng-switch-when="2">
			<div class="elementsLayout" ng-class="{'fullLayout' : !isScanning()}">
				<div ng-repeat="fila in range(0, filas)" style = "height : {{'{{buttonSize.height}}'}}%">
					<div 
					class = "button"
					ng-repeat = "col in range(0, cols)" 
					ng-show = "showButton(getButtonIndex(fila, col), sensorStates.length)" 
					style = "width : {{'{{buttonSize.width}}'}}%"
					ng-click = "!isScanning() && clickNewState(sensorStates[getButtonIndex(fila, col)])"
					ng-class = "{'selected' : isCurrentScanned(fila*cols + col), 'currentValue' : isCurrentSensorValue(sensorStates[getButtonIndex(fila, col)])}"
					>
						<div class="buttonLayout" ng-if="sensorStates[getButtonIndex(fila, col)].type != 'salir'">
							<span>
								&nbsp;
							</span>
							
							<span class="sensorValue">
								Valor: <span ng-bind = "sensorStates[getButtonIndex(fila, col)]"></span>
							</span>

							<span ng-bind="getLimitedText(selectedNStateSensor.nombre_sensor)">
							</span>
							
							
						</div> 
						
						<div class="buttonLayout" ng-if="sensorStates[getButtonIndex(fila, col)].type == 'salir'" >
							<span>
								Atrás
							</span>
							
							<img ng-if="!offline" ng-src="{{'{{assets.back}}'}}" alt="" />
							<img ng-if="offline" ng-src="/H4A/web/images/svg/back.svg" alt="" />
							
						</div> 
					</div>
				</div>
			</div>
			
			<div class="progressBarContainer" ng-if = "isScanning()">
				<div class="progressBar" style = "width : {{'{{barPercent}}'}}%">
				</div>
			</div>
		</div>
		
		<!-- seccion de los sensores analógicos-->
		<div class="row verticalBody roomsButtons" ng-class = "{'fullBody' : needNavigation == 0}" ng-switch-when="3">
			<div class="elementsLayout analogicSection" ng-class="{'fullLayout' : !isScanning()}">
				<div class="col-xs-12 sensorInfo">
					<div ng-bind="analogic.sensor.nombre_sensor">
					</div>
					<div>
						Valor: <span ng-bind="analogic.val"></span>
					</div>
					<div class="extraInfo">
						(min, max): (<span ng-bind="analogic.min"></span>, <span ng-bind="analogic.max"></span>)
					</div>
					<button ng-if="debugMode" ng-click="debug()">
						Scope
					</button>
				</div>
					
				<div class="rangeUpperContainer col-xs-12">
					<div>
					</div>
					
					<div class="col-xs-12 rangeSection">
						
						<div class="col-xs-12 rangeInputContainer">
							<input class="" type="range" min={{'{{analogic.min}}'}} ng-model="analogic.val" max={{'{{analogic.max}}'}} step={{'{{analogic.step}}'}} ng-click="clickNewAnalogicValue(analogic.val)">
						</div>

					</div>
					
					<div class="col-xs-12 col-sm-offset-1 progressBarAnalogicContainer">
						<div class="progressBarAnalogic">
							
						</div>
					</div>
				</div>
							
				<button class="button col-xs-12 backButton" ng-click="backToSensors()">Atrás</button>

			</div>
			
			<div class="progressBarContainer" ng-if = "isScanning()">
				<div class="progressBar" style = "width : {{'{{barPercent}}'}}%">
				</div>
			</div>
		</div>
		
		<!-- sección de los sensores de solo lectura -->
		<div class="row verticalBody roomsButtons" ng-class = "{'fullBody' : needNavigation == 0}" ng-switch-when="4">
			<div class="elementsLayout" ng-class="{'fullLayout' : !isScanning()}">
				<div ng-repeat="fila in range(0, filas)" style = "height : {{'{{buttonSize.height}}'}}%">
					<div 
					class = "button"
					ng-repeat = "col in range(0, cols)" 
					ng-show = "showButton(getButtonIndex(fila, col), roomSensors.length)" 
					style = "width : {{'{{buttonSize.width}}'}}%"
					ng-click = "!isScanning() && clickSensor(roomSensors[getButtonIndex(fila, col)])"
					ng-class = "{'selected' : isCurrentScanned(fila*cols + col), 'isActive' : isSensorActive(roomSensors[getButtonIndex(fila, col)])}"
					>
						<div class="buttonLayout" ng-if="roomSensors[getButtonIndex(fila, col)].type != 'salir' && roomSensors[getButtonIndex(fila, col)].type != 'onlyReadSensors'">
							<span class="sensorValue">
								Valor:  <span ng-bind = "parseSensorValue(roomSensors[getButtonIndex(fila, col)])"></span>
							</span>

								<img ng-if="!offline" ng-src="{{'{{roomSensors[getButtonIndex(fila, col)].img}}'}}" alt="" />
								<img ng-if="offline" ng-src="/H4A/web/images/svg/sensors.svg" alt="" />
							
							<span ng-bind="getLimitedText(roomSensors[getButtonIndex(fila, col)].nombre_sensor)">
								
							</span>
						</div> 
						
						<div class="buttonLayout" ng-if="roomSensors[getButtonIndex(fila, col)].type == 'salir'" >
							<span>
								Atrás
							</span>
							
							<img ng-if="!offline" ng-src="{{'{{assets.back}}'}}" alt="" />
							<img ng-if="offline" ng-src="/H4A/web/images/svg/back.svg" alt="" />
							
							<span>
								&nbsp;
							</span>
						</div> 
					</div>
				</div>
			</div>
			<div class="progressBarContainer" ng-if = "isScanning()">
				<div class="progressBar" style = "width : {{'{{barPercent}}'}}%">
				</div>
			</div>
		</div>
				
		<div class="row navigationArrows" ng-if="needNavigation == 1">
			<div class="col-xs-6 arrow leftArrow">
				<button class="btn" ng-class="{'disabled' : isFirstPage(), 'active' : scanning.leftArrow }" ng-click="!isScanning() && clickPrevious()"><</button>
			</div>
			<div class="col-xs-6 arrow rightArrow" >
				<button ng-click="!isScanning() && clickNext()" class="btn" ng-class="{'disabled' : isLastPage(), 'active' : scanning.rightArrow}">></button>
			</div>
		</div>
	</div>	
	
	
	
</div>
{% endblock %}


