{% extends "layout.twig.html" %}

{% block Ingreso %}
	<h2>Ingrese </h2>
    <form role="form" action="{{ path('login_check') }}" method="post">
        <div class="form-group">
			<label><h2>Correo Electrónico</h2></label>
			<input class="form-control" id="username" type="email" name="email" value="{{ last_username }}" placeholder="Introduzca correo electronico" required>
		</div>
        <div class="form-group">
			<label><h2>Contraseña</h2></label>
			<input class="form-control" id="password" type="password" name="password"  placeholder="Introduzca contraseña">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Iniciar sesión">
		</div>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    </form>
{% endblock %}

{% block Registro %}
	<h1 align = "right">Abrir una cuenta </h1>
	<form role="form" method="get" action="{{ path('newTutor') }}"  align = "right" >
		
		<div class="form-group" >
			<div class="col-sm-5" ></div>
			<div class="col-sm-7" >
				<label><h2>Correo electrónico</h2></label>
				<input class="form-control" id="inicio_newTutor_mail" type="email" name="inicio_newTutor_mail"  placeholder="Introduzca su correo electrónico" ng-click="ping()" 	ng-model="newTutor.mail">
			</div>
		</div>
	
		<div class="form-group"  >
			<div class="col-sm-5" ></div>
			<div class="col-sm-7" >
				<label><h2>Nombre</h2></label>
				<input class="form-control" id="inicio_newTutor_name" type="text" name="inicio_newTutor_name" value="" placeholder="Introduzca su nombre" ng-model="newTutor.name">
				<br/>
			</div>
		</div>

		<div class="form-group" >
			<div class="col-sm-5" ></div>
			<div class="col-sm-7" >
			<button type="submit" id='inicio_newTutor' class="btn btn-primary" value=""> Abir una cuenta </button>
			</div>
		</div>
	</form>
{% endblock %}

