{% extends "layout.html" %}
{% block inicio %}		
	<div class="fondo_img">
		<br/> <br/> <br/> <br/> <br/> <br/> 
		<div class="container" data-scrollreveal="enter donw after 0s over 1s">
			{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
			<div class="jumbotron">
				{% if (app.security.token is not null) and (is_granted('ROLE_USER')) %}
					{% block contenido %}{% endblock %}					
				{%elseif  currentPath  == '/H4A/web/index_dev.php/newTutor' %}				
					{% block datos %}
					{% endblock %}
				{% else %}
				<div class="row">
					<div class="col-lg-6 col-sm-6">
					<!--<button type="button" class="btn btn-primary" id="bprimario"><h1>Iniciar sesión</h1></button>    
						<div id="Ingreso" style="display: none;">
							{% block Ingreso %}{% endblock %}
						</div>-->
						<img src="{{ app.request.basepath }}/images/figura.png" class="img-responsive" alt="Responsive image">
					</div>
					
					<div class="col-lg-6 col-sm-6">				
					<!--<button type="button" class="btn btn-primary" id="bsecundario"><h2>Abir una cuenta</h2></button> -->   
						<div id="Registro">
							{% block Registro %}{% endblock %}
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<br/> <br/> 
	</div>	
    <div class="container">
      <div class="row">
	  <br/> <br/>
        <div class="col-xs-3 ">
			<div align="center" class="embed-responsive embed-responsive-16by9">
			  <p><video class="img-responsive" src="{{ app.request.basepath }}/images/vid.mp4" type="video/mp4" poster="{{ app.request.basepath }}/images/video.png" width="300" preload controls></video><p>
			</div>
		</div>
		<div class="col-xs-3"> 
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-xs-3"> 
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div class="col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu 1 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Submenu 1-1</a></li>
                <li><a href="#">Submenu 1-2</a></li>
                <li><a href="#">Submenu 1-3</a></li>                        
              </ul>
            </li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
          </ul>
        </div>
        <div class="clearfix visible-lg"></div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>	
	<section class="jumbotron">
			<div class="container">
				<div data-scrollreveal="enter right after 0s over 1s">
					<h1 class="text-center" data-scrollreveal="enter left after 0s over 1s"	>sugerencias y aportaciones</h1>
					<h6 class="text-center">Desde el equipo agradecemos las sugerencias que puedan proporcionarnos los usuarios. Vuestras aportaciones y críticas constructivas forman parte del proceso de mejora de este proyecto.</h6>				
				</div>
				<div class="row">						

					<form role="form" method="POST" action="" onSubmit="this.scrollPosition.value=document.getElementById('contact').value;" class="contact-form">

						<input type="hidden" name="scrollPosition">

						<input type="hidden" name="submitted" id="submitted" value="true" />

						<div class="col-lg-4 col-sm-4">

							<input type="text" name="myname" placeholder="Nombre" class="form-control input-box" value="">

						</div>

						<div class="col-lg-4 col-sm-4" data-scrollreveal="enter left after 0s over 1s">

							<input type="email" name="myemail" placeholder="Email" class="form-control input-box" value="">

						</div>

						<div class="col-lg-4 col-sm-4" data-scrollreveal="enter left after 0s over 1s">

							<input type="text" name="mysubject" placeholder="Asunto" class="form-control input-box" value="">

						</div>

						<div class="col-md-12" data-scrollreveal="enter left after 0s over 1s">
<br/>
							<textarea name="mymessage" class="form-control textarea-box" placeholder="Mensaje"></textarea>
<br/>
						</div>
						<button click="" class="btn btn-primary custom-button yellow-btn" type="submit" data-scrollreveal="enter left after 0s over 1s">ENVIAR</button>						
					</form>
				</div>

			</div> 

	</section>
{% endblock %}