<!DOCTYPE html>

<html>
    <head>		
        <title>My Silex Application</title>
		<link rel="stylesheet" href="{{ app.request.basepath }}/css/estilo.css" type="text/css" /> 
        <link href="{{ app.request.basepath }}/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ app.request.basepath }}/css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ app.request.basepath }}/css/bootstrap/css/bootstrap.min.js" rel="stylesheet" type="text/css" />
		<script src="{{ app.request.basepath }}/js/jquery-1.11.1.min.js" type="text/javascript"></script>   
		<script src="{{ app.request.basepath }}/js/scrollReveal.js"></script> 
        <script src="{{ app.request.basepath }}/js/general.js"></script> 
		<link rel="stylesheet" href="{{ app.request.basepath }}/css/font-awesome.min.css">
		<script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
		<script src='js/scrollReveal.js'></script> 
    </head>
    <body>
		<nav class=" navbar-inverse navbar-fixed-top" role="navigation">
			<div class='row' style='display: flex;align-items: center;'>
				
				<div class='col-md-2'>
					<img src="{{ app.request.basepath }}/images/logo.svg" alt="Responsive image" width="70" height="70" style='float:right'></img>
				</div>
				<div class='col-md-2 '>
					<h1 class='Lblanca titulo'>Home4ll</h1>
				</div>
				{% if is_granted('ROLE_USER') %}
					<div class='col-lg-1 col-xs-12'></div>
					<div class="form-group col-lg-2 bienvenido">
						<span style='float:right'>Bienvenido {{ app.security.token.user.username }} </span>
					</div>
					
					<div class='no-margin-bot form-group col-lg-2 '>
					
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Buscar..."/ >
							<span class="input-group-addon" >
								<i class="glyphicon glyphicon-search"></i>
							</span>
						</div>
					</div>
					
					<div class="form-group col-lg-2 " style='padding-right:2em'>
						<a class="btn btn-default btn-mg center-block" href="{{ path('logout') }}" ><strong><i class='glyphicon glyphicon-log-out' style='color:blue;'></i> Cerrar Sesión</strong></a>
					</div>
				
				{% else %}
					<div class="col-md-1"></div>
					<form class="row Lblanca col-md-6"  role="form" action="{{ path('login_check') }}" method="post"  style='display: flex;align-items: center;'>
						<div class="form-group col-md-5">
							<label class='Lblanca'>Correo Electrónico</label>
							<input class="form-control input-sm" id="username" type="email" name="email" value="{{ last_username }}" placeholder="Introduzca correo electronico" required>
						</div>
						
						<div class="form-group col-md-5" style='padding-left:1em'>
							<label class= "Lblanca">Contraseña</label>
							<input class="form-control input-sm" id="password" type="password" name="password"  placeholder="Introduzca contraseña">
						</div>
											
						<div class="col-md-2" style='padding-left:1em;'>
							<input type="submit" class="btn btn-primary btn-sm" value="Iniciar sesión">
						</div>
						
						{% if error %}
							<div class="error Lblanca">{{ error }}</div>
						{% endif %}
					</form>
				{% endif %}
			</div>
			
			<!--
			<div class="container-fluid">
				<div class="col-xs-1"></div>
				<div class="navbar-header col-xs-5">
					<a class="navbar-brand" href="#"><h1><img src="{{ app.request.basepath }}/images/logo.png" width="50" height="50" alt="Responsive image"> Home4ll</h1>  </a>
				</div>
				<br/>
				<div class="col-xs-6">	 
					<form class="form-horizontal row Lblanca"  role="form" action="{{ path('login_check') }}" method="post">
						{% if is_granted('ROLE_USER') %}
							<div class="form-group col-xs-1 col-lg-1"></div>
							<div class="form-group col-xs-3 col-lg-3" align = "right">
								Bienvenido {{ app.security.token.user.username }}
							</div>
							<div class="form-group col-xs-3 col-lg-3" align = "right">
								<a class="btn btn-default btn-xs" href="{{ path('logout') }}"><strong>Cierrar Sesión</strong></a>
							</div>
						{% else %}	   
							<div class="form-group col-xs-4">
								<label>Correo Electrónico</label>
								<input class="form-control" id="username" type="email" name="email" value="{{ last_username }}" placeholder="Introduzca correo electronico" required>
							</div>
							<div class="col-xs-1"></div>
							<div class="form-group col-xs-4">
								<label class= "Lblanca">Contraseña</label>
								<input class="form-control" id="password" type="password" name="password"  placeholder="Introduzca contraseña">
							</div>
							<div class="col-xs-1"></div>
							<div class="form-group col-xs-2">
								<br/>
								<input type="submit" class="btn btn-primary" value="Iniciar sesión">
							</div>
							{% if error %}
								<div class="error Lblanca">{{ error }}</div>
							{% endif %}
						{% endif %}
					</form>      
				</div>
			</div>-->
		</nav>
		{% block inicio%}{% endblock %}
	</body>
</html>



