<!DOCTYPE html>

<html ng-app='home'>
    <head>		
		<title>HOME4LL</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5" />
		<link href="{{ app.request.basepath }}/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ app.request.basepath }}/css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="{{ app.request.basepath }}/css/font-awesome.min.css">
		{% block cssInclude%}{% endblock %}
		<link href="{{ app.request.basepath }}/css/comHomeController.css" rel="stylesheet" type="text/css" />
		
		
		<script src="{{ app.request.basepath }}/js/jquery-1.11.1.min.js" type="text/javascript"></script>  
		<script src="{{ app.request.basepath }}/js/angular.min.js"></script> 
		<script src="{{ app.request.basepath }}/js/angular-animate.min.js"></script> 
		<script src="{{ app.request.basepath }}/js/angular-sanitize.min.js"></script> 
		<script src="{{ app.request.basepath }}/js/ui2.js"></script> 
		<script src="{{ app.request.basepath }}/css/bootstrap/js/bootstrap.min.js"></script>
		<script src="{{ app.request.basepath }}/js/mespeak.js"></script> 
		
		<script src="{{ app.request.basepath }}/js/app.js"></script>
		
		<script src="{{ app.request.basepath }}/js/services/screenService.js"></script>
		<script src="{{ app.request.basepath }}/js/services/routeService.js"></script>
		<script src="{{ app.request.basepath }}/js/services/speakerService.js"></script>
		<script src="{{ app.request.basepath }}/js/services/clientInfo.js"></script>
				
		<script src="{{ app.request.basepath }}/js/directives/resizeDispacher.js"></script>
		<script src="{{ app.request.basepath }}/js/directives/loader.js"></script>
		
		<script src="{{ app.request.basepath }}/js/sectionController.js"></script>
		<script src="{{ app.request.basepath }}/js/homeController.js"></script>
		<script src="{{ app.request.basepath }}/js/userSelectionController.js"></script>
		<script src="{{ app.request.basepath }}/js/utils.js"></script>
		
		
    </head>
    <body  ng-controller='sectionController'>
	{% block homeApp%}{% endblock %}

	</body>
</html>



