{% extends "layout.html" %}
{% block inicio %}		
	<div class="fondo_img">
		<div class="container">
			{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
			<div class="jumbotron">
				{% if (app.security.token is not null) and ((is_granted('ROLE_USER')) or (is_granted('ROLE_ADMIN'))) %}
					{% block contenido %}{% endblock %}					
				{%elseif  (currentPath  == '/H4A/web/index_dev.php/newTutor') or (currentPath  == '/H4A/web/newTutor') %}				
					{% block datos %}
					{% endblock %}
				{% else %}
				<div class="row ">
					<div class="col-sm-6 hidden-xs">
						<img src="{{ app.request.basepath }}/images/figura.png" class="img-responsive" alt="Responsive image">
					</div>
					
					<div class="col-xs-12 col-sm-6">				
					<!--<button type="button" class="btn btn-primary" id="bsecundario"><h2>Abir una cuenta</h2></button> -->   
						<div id="Registro">
							{% block Registro %}{% endblock %}
						</div>
					</div>
				</div>
				
				{% endif %}
			</div>
		</div>
	</div>	

	<section class="jumbotron contactSection">
		<div class="container">
			<div class="contactText">
				<div class="text-center title">Sugerencias y aportaciones</div>
				<div class="text-center body">
					Desde el equipo agradecemos las sugerencias que puedan proporcionarnos los usuarios. Vuestras aportaciones y críticas constructivas forman parte del proceso de mejora de este proyecto.
				</div>				
			</div>
			<div class="row">	
				<form role="form" class="contact" method="POST" action="" onSubmit="this.scrollPosition.value=document.getElementById('contact').value;" class="contact-form">
					<input type="hidden" name="scrollPosition">
					<input type="hidden" name="submitted" id="submitted" value="true" />
					<div class="col-lg-4 col-sm-4">
						<input type="text" name="myname" placeholder="Nombre" class="form-control input-box" value="">
					</div>
					<div class="col-lg-4 col-sm-4" data-scrollreveal="enter left after 0s over 1s">
						<input type="email" name="myemail" placeholder="Email" class="form-control input-box" value="">
					</div>
					<div class="col-lg-4 col-sm-4" data-scrollreveal="enter left after 0s over 1s">
						<input type="text" name="mysubject" placeholder="Asunto" class="form-control input-box" value="">
					</div>
					<div class="col-md-12" data-scrollreveal="enter left after 0s over 1s"><br/>
						<textarea name="mymessage" class="form-control textarea-box" placeholder="Mensaje"></textarea><br/>
					</div>
					<button click="" class="btn btn-primary custom-button yellow-btn" type="submit">ENVIAR</button>						
				</form>
			</div>
		</div> 
	</section>
{% endblock %}