{% extends "layout.twig.html" %}
{% block contenido %}

<div class="panel panel-primary data-panel">
	<div class="panel-heading" >

		<span class='title' >
			Mis datos
		</span>
		
	</div>
	<div class="panel-body">
		{{user.mail_tutor}}
		<form class='standar_h4a_form' role="form" action="{{ path('register') }}" method="post">
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='Tutor_mail'>Mail</label><br>
					<input type='email' class="form-control" name='Tutor_mail'/>
				</div>
			</div>
			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='Tutor_name'>Nombre</label><br>
					<input type='text' class="form-control" name='Tutor_name'/>
				</div>
			</div>
			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='Tutor_surname'>Apellidos</label><br>
					<input type='text' class="form-control" name='Tutor_surname'/>
				</div>
			</div>
			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='Tutor_pass'>Password</label><br>
					<input type='password' class="form-control" name='Tutor_pass'/>
				</div>
			</div>
			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='Tutor_phone'>Teléfono</label><br>
					<input type='tel' class="form-control" name='Tutor_phone'/>
				</div>
			</div>
			
					
			<div class='row form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<button type="submit" class="btn btn-primary btn-lg">Crear</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	var tutor_data = JSON.parse({{user}});
	$( "input[name='tutor_mail']" ).val(tutor_data);
</script>

{% endblock %}