<nav class=" navbar-inverse navbar-fixed-top" role="navigation">
	<!-- para pantallas grandes y medianas lg, md y sm -->
	<div class='row ' style='display: flex;align-items: center;'>
		
		
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<div class="visible-xs col-xs-3 navIcon" >
				<i class="fa fa-bars fa-3x" ng-click="navBarMobile.click_menu()" style="cursor:pointer"></i>
			</div>
			
			<div class='col-md-2 col-lg-2 col-sm-2 col-xs-2 hidden-xs'>
				<a href='{{ app.request.basepath }}/tutor'><img src="{{ app.request.basepath }}/images/logo.svg" class="navLogo" alt="Responsive image" ></img></a>
			</div>
			<div class='col-md-2 col-lg-2  col-sm-2 hidden-xs'>
				<h2 class='Lblanca titulo'><a href='{{ app.request.basepath }}/tutor'>Home4All  </a></h2>
			</div>

			<div class="form-group col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 hidden-sm  hidden-xs bienvenido">
				<span>Bienvenido {{ app.security.token.user.username }} </span>
			</div>
			
			<div ng-controller="smartSearch" class='no-margin-bot form-group col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-1 col-xs-6'>
				<div class = 'col-lg-10 col-md-10 col-sm-10 col-xs-10' style='padding-right:0px'>
					<input type="text" class="form-control" placeholder="Buscar..." id='inText-navbar-search'  list='datalist-navbar-searchList'ng-click = "smartSearch.click()"></input>
					<datalist id="datalist-navbar-searchList">
					</datalist>
				</div>
				<div class = 'col-lg-2 col-md-2 col-sm-2 col-xs-2' style='padding-left:0px'>
					<button style='inline' class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
				</div>
				
			</div>
			
			<div class="form-group col-lg-2 col-md-2 col-sm-3 hidden-xs" style='padding-right:2em'>
				<a class="btn btn-default btn-mg center-block" href="{{ path('logout') }}" ><strong><i class='glyphicon glyphicon-log-out' style='color:blue;'></i> Cerrar Sesión</strong></a>
			</div>
			
			<div class="visible-xs col-xs-3 " style="text-align:center">
				<a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-3x"></i></a>
			</div>
		
		{% else %}
			<div class="visible-xs col-xs-3 navIcon">
				<i class="fa fa-bars fa-3x"></i>
			</div>
			
			<div class='col-md-2 col-lg-2 col-sm-2 col-xs-3'>
				<a href='{{ app.request.basepath }}'><img src="{{ app.request.basepath }}/images/logo.svg" alt="Responsive image"  class="navLogo"></img></a>
			</div>
			<div class='col-md-2 col-lg-2  col-sm-2 hidden-xs'>
				<h2 class='Lblanca titulo'><a href='{{ app.request.basepath }}'>Home4All  </a></h2>
			</div>
		
			<form class="row Lblanca col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1 hidden-xs"  role="form" action="{{ path('login_check') }}" method="post"  style='display: flex;align-items: center;'>
				<div class="form-group col-md-5 col-lg-5 col-sm-5">
					<label class='Lblanca'>Correo Electrónico</label>
					<input class="form-control input-sm" id="username" type="email" name="email" value="{{ last_username }}" placeholder="Introduzca correo electronico" required>
				</div>
				
				<div class="form-group col-md-5 col-lg-5 col-sm-5" style='padding-left:1em'>
					<label class= "Lblanca">Contraseña</label>
					<input class="form-control input-sm" id="password" type="password" name="password"  placeholder="Introduzca contraseña">
				</div>
									
				<div class="col-md-2 col-lg-2 col-sm-2" style='padding-left:1em;'>
					<input type="submit" class="btn btn-primary btn-sm" value="Iniciar sesión">
				</div>
				
				
				
				{% if error %}
					<div class="error Lblanca">{{ error }}</div>
				{% endif %}
			</form>
			<div class='col-xs-5 col-xs-offset-1 visible-xs mobile_login'>
				<button type="submit" class="col-xs-10 btn btn-primary btn-sm mobile_login_btn" value="Login" ng-click="navBarMobile.click_login()">
					Login <span ng-show="!navBarMobile.expand_login">&#9660;</span><span ng-show="navBarMobile.expand_login">&#9650;</span>
				</button>
			</div>
			
		{% endif %}
	</div>
	
	<!-- barra de login para dispositivos moviles -->
	{% if not (is_granted('IS_AUTHENTICATED_FULLY')) %}
	<div ng-show="navBarMobile.expand_login || navBarMobile.error" class="visible-xs login_bar ">
		<form class="row"  role="form" action="{{ path('login_check') }}" method="post" >
			<input class="input-sm col-xs-10 col-xs-offset-1" id="username" type="email" name="email" style="" value="{{ last_username }}" placeholder="Introduzca email" required>
			<input class=" input-sm col-xs-10 col-xs-offset-1  " id="password" type="password" name="password"  placeholder="Introduzca contraseña" style="margin-top:5px" required>
			<input type="submit" class="btn btn-primary btn-sm col-xs-6 col-xs-offset-3" style='margin-top:5px'value="Iniciar sesión">	
			{% if error %}
				<div ng-init="navBarMobile.error=true" class="error col-xs-12" style="color:white;text-align:center">{{ error }}</div>
			{% endif %}
		</form>
	</div> 
	
	<!-- menu desplegable para dispositivos moviles -->
	{% else %}
	<div ng-show="navBarMobile.expand_menu" class="visible-xs navMenu">
		<div class="item">
			<a href="{{ path('verdisc') }}">Ver Usuarios</a>
		</div>
		<div class="item">
			<a href="{{ path('newuser') }}">Crear Usuarios</a>
		</div>
		<div class="item">
			<a href="">Administrar casa</a>
		</div>
		<div class="item">
			<a href="{{ path('verDisp') }}">Ver dispositivos</a>
		</div>
		<div class="item">
			<a href="{{ path('newDevice') }}">Añadir dispositivos</a>
		</div>
		<div class="item">
			<a href="{{ path('verTutor') }}">Ver Perfil</a>
		</div>
		<div class="item">
			<a href="{{ path('editTutor') }}">Modificar Perfil</a>
		</div>
	</div>
	{% endif %}
</nav>