{% extends "layout.twig.html" %}
{% block contenido %}

<div class="panel panel-primary data-panel">
	<div class="panel-heading" >

		<span class='title' >
			Añadir nuevo dispositivo
		</span>
		
	</div>
	<div class="panel-body">
		<form class='standar_h4a_form'>
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='nombreDispositivo'>Dispositivo</label><br>
					<input type='text' class="form-control" name='nombreDispositivo'/>
				</div>
			</div>
			
			<div class='row form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='MAC'>MAC</label><br>
					<input type='text' class="form-control" name='MAC' value='{{mac}}'/>
					<input type="checkbox" name="MAC_dispostivo" value="">Usar la MAC de este equipo 
				</div>
			</div>
			
			<div class='row form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='nombreDispositivo'>Usuario por defecto</label><br>
					<input type='text' class="form-control" name='nombreDispositivo'/>
				</div>
			</div>
			
			<div class='row form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<button type="button" class="btn btn-primary btn-lg">Añadir</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}