{% extends "layout.twig.html" %}
{% block contenido %}


<div class="panel panel-primary data-panel" ng-controller="userDeviceLinker" id-usuario = {{id_usuario}}>
	<div class="panel-heading" >
		<span class='title' >
			Creando usuario, paso 2 de 4: Enlazando dispositivos al usuario
		</span>
		
	</div>
	<div class="panel-body userDeviceLinker">
		<div class="row selectDevices">
			
			<div class="col-lg-4 allDevices shadow col-lg-offset-1 ">
				<div class="title col-lg-12">
					Dispositivos existentes
				</div>
				<div class="data col-lg-12">
					<div ng-class="{active : dev.selected}" class="device" ng-repeat="dev in allDevices" ng-click="dev.select()">
						<span class="bold_text">Nombre:</span>
						<span ng-bind="dev.name"></span><br>
						<span class="bold_text">MAC:</span>
						<span ng-bind="dev.MAC"></span>
					</div>
				</div>
			</div>
			
			<div class="col-lg-2 actions">
				<div class="col-lg-12">
					<button ng-click="linkDevices()"  type="submit" class="btn btn-success btn-lg col-lg-12">Enlazar &#9654; </button>
				</div>
				<div class="col-lg-12">
					<button ng-click="unlinkDevices()" type="submit" class="btn btn-danger btn-lg col-lg-12">&#9664; Quitar</button>
				</div>
				<!-- <div>
				<button ng-click="sinfo()">
					showInfo
				</button>
				</div> -->
			</div>
			
			<div class="col-lg-4 toAddDevice shadow">
				<div class="title">
					Dispositivos enlazados
				</div>
				<div class="data">
					<form>
						<div ng-class="{toQuit : dev.selected  }" class="device" ng-repeat="dev in selectedDevices" >
							<div ng-click="dev.select()" class="deviceSelect">
								<span class="bold_text">Nombre:</span>
								<span ng-bind="dev.name"></span><br>
								<span class="bold_text">MAC:</span>
								<span ng-bind="dev.MAC"></span>
							</div>
							<div ng-if="dev.UDefault==0"  ng-class = "{default : $index == indexOfDefault}" class="defaultSelect" >
								<input type="radio" name="udefault" value="" ng-click="doDefault($index)">Usuario por defecto
							</div>
						</div>
					</form>
				</div>


			</div>
			
			
			
			
		</div>
		
		<div class="row addDevice">
			<div class="col-lg-10 col-lg-offset-1 newDevice">
				<input type="checkbox" name="Nuevo_Dispositivo" value="" ng-model="newDevice.wantNewDevice">
				<span>Añadir nuevo dispositivo </span>
			</div>
			
			<div class="col-lg-10 col-lg-offset-1 newDeviceData standar_h4a_form" ng-show="newDevice.wantNewDevice">
				<div class="col-lg-12">
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<label for='nombreDispositivo'>Nombre del dispositivo</label><br>
						<input type='text' class="form-control" name='nombreDispositivo' ng-model="newDevice.data.name"/>
					</div>
				</div>
				
				<div class="col-lg-12">
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<label for='MAC'>MAC</label><br>
						<ng-switch on="newDevice.useThisMAC">
							<input ng-switch-when="true" type='text' class="form-control" name='mac' ng-model="newDevice.data.MAC" ng-init="newDevice.data.MAC='{{mac}}'" value='{{mac}}'/>
							<input ng-switch-default type='text' class="form-control" name='mac' ng-model="newDevice.data.MAC" ng-init="newDevice.data.MAC=''" value=''/>
						</ng-switch>
						
						<div class="aditional-info">
							<input type="checkbox" name="MAC_dispostivo" value="" ng-model="newDevice.useThisMAC"/>
							<span>Usar la MAC de este equipo </span>
						</div>
						
						<div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="queryInsert.status=='error'">
							<p ng-bind="queryInsert.msg"></p>
						</div>
						
						<div class="alert alert-success col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="queryInsert.status == 'success'">
							<p>Dispositivo insertado correctamente</p>
						</div>
					</div>
					
				</div>
				
				<!-- <div class="col-lg-12" style="margin-top:15px">
					<input type="checkbox" name="MAC_dispostivo" value="" ng-model="newDevice.defaultWanted">
					<span>Hacer que X sea el usuario por defecto del dispositivo</span>
				</div> -->
				<button type="submit" ng-click="addDevice()" class="btn btn-primary btn">Añadir dispositivo</button>
			</div>
			
			<div class="col-lg-10 col-lg-offset-1" style="margin-top:15px">
				<form method="post"  role="form" action="{{ path('linkDevicesUser') }}">
					<button type="submit" name="send" ng-value="formatedData" ng-click="prepareData()" class="btn btn-primary btn-lg">Siguiente</button>
				</form>
			</div>
		</div>
	</div>
</div> 

<!-- antiguo estilo -->
<!-- <div class="panel panel-primary data-panel">

<div class="panel-heading" >

<span class='title' >

Añadir nuevo dispositivos

</span>

</div>

<div class="panel-body">

<form action="{{ path('new_usermac') }}" method="post" role="form" class='standar_h4a_form'>

<div class='row form-group'>

<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>

<label for='nombreDispositivo'>Dispositivo</label><br>

<input type='text' class="form-control" name='nombreDispositivo'/>

</div>

</div>

<div class='row form-group' ng-init='ischecked=false'>

<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>

<label for='MAC'>MAC</label><br>

<ng-switch on="ischecked">

<input ng-switch-when="true" type='text' class="form-control" name='mac' value='{{mac}}'/>

<input ng-switch-default type='text' class="form-control" name='mac' value=''/>

</ng-switch>

<div class="aditional-info">

<input type="checkbox" name="MAC_dispostivo" value="" ng-model="ischecked">

<span>Usar la MAC de este equipo </span>

</div>

</div>

</div>

<div class="oculto">

<input type="text" class="form-control" name="idUsuario" value={{id_usuario}}>

</div>

<div class='row form-group'>

<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>

<button type="submit" class="btn btn-primary btn-lg">Siguiente</button>

</div>

</div>

</form>

</div>

</div> -->


{% endblock %}