{% extends "layout.twig.html" %}
{% block datos %}



<div class="panel panel-primary data-panel">
	<div class="panel-heading" >

		<span class='title' >
			Registro de Tutor
		</span>
		
	</div>
	<div class="panel-body">
		<form class='standar_h4a_form' role="form" action="{{ path('register') }}" method="post">
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='newTutor_mail'>Mail</label><br>
					<input type='email' class="form-control" name='newTutor_mail'/>
				</div>
			</div>
			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='newTutor_name'>Nombre</label><br>
					<input type='text' class="form-control" name='newTutor_name'/>
				</div>
			</div>
			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='newTutor_surname'>Apellidos</label><br>
					<input type='text' class="form-control" name='newTutor_surname'/>
				</div>
			</div>
			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='newTutor_pass'>Password</label><br>
					<input type='password' class="form-control" name='newTutor_pass'/>
				</div>
			</div>
			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='newTutor_phone'>Teléfono</label><br>
					<input type='tel' class="form-control" name='newTutor_phone'/>
				</div>
			</div>
			
					
			<div class='row form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<button type="submit" class="btn btn-primary btn-lg">Crear</button>
				</div>
			</div>
		</form>
	</div>
</div>


<!-- rellenamos los campos de mail y nombre con los datos rellenados anteriormente -->
<script>
	$( "input[name='newTutor_mail']" ).val(sessionStorage.newTutor_mail);
	$( "input[name='newTutor_name']" ).val(sessionStorage.newTutor_name);
</script>
{% endblock %}

