{% extends "layout.twig.html" %}
{% block datos %}


<div class="panel panel-primary data-panel">
	<div class="panel-heading" >

		<span class='title' >
			Registro de Tutor
		</span>
		
	</div>
	<div class="panel-body">
		<form class='standar_h4a_form' role="form" action="{{ path('register') }}" method="post">
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='newTutor_mail'>Mail</label><br>
					<input type='email' class="form-control" value="{{mail}}" name='newTutor_mail' required/>
				</div>
			</div>
			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='newTutor_name'>Nombre</label><br>
					<input type='text' class="form-control" value="{{name}}" name='newTutor_name'/ required>
				</div>
			</div>
			
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='newTutor_surname'>Apellidos</label><br>
					<input type='text' class="form-control" name='newTutor_surname'/>
				</div>
			</div>
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='newTutor_phone'>Teléfono</label><br>
					<input type='tel' class="form-control" name='newTutor_phone'/>
				</div>
			</div>					
			<div class="row form-group">
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<label for="pass">Contraseña</label>
						<input type="password" class="form-control pass" id="pass" name="newTutor_pass" >
					</div>
				</div>
				<div id="divValidacion" class="row form-group">
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<label for="repass">Repita Contraseña</label>
						<input type="password" class="form-control repass" id="repass" name="repass"> 
						<div id="mensaje2" class="errores"> La contraseña y la validacion debe ser iguales</div>
						<div id="mensaje1" class="errores"> La contraseña no puede estar vacia</div>
					</div>
				</div>
				<div class="row form-group">
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<button id="boton_usuario" type="submit" class="btn btn-primary btn-lg">Registrar</button>
					</div>
				</div>
		</form>
	</div>
</div>

{% endblock %}

