{% extends "layout.twig.html" %}
{% block contenido %}


<div class="panel panel-primary data-panel" ng-controller="userDeviceLinker">
	<div class="panel-heading" >
		<span class='title' >
			Añadir dispositivos
		</span>
		
	</div>
	<div class="panel-body userDeviceLinker">
		<div class="row selectDevices">
			<div class="col-lg-4 col-lg-offset-1 toAddDevice shadow">
				<div class="title">
					Dispositivos enlazados
				</div>
				<div class="data">
					Lorem ipsum dolor sit amet, 
				</div>


			</div>
			<div class="col-lg-offset-2 col-lg-4 allDevices shadow">
				<div class="title">
					Dispositivos existentes
				</div>
				<div class="data">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, debitis, voluptatibus dolores aspernatur nulla consequatur nesciunt adipisci ipsa distinctio deserunt error minus fugit est culpa praesentium dicta voluptatum nam sequi!
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, debitis, voluptatibus dolores aspernatur nulla consequatur nesciunt adipisci ipsa distinctio deserunt error minus fugit est culpa praesentium dicta voluptatum nam sequi!
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, debitis, voluptatibus dolores aspernatur nulla consequatur nesciunt adipisci ipsa distinctio deserunt error minus fugit est culpa praesentium dicta voluptatum nam sequi!
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, debitis, voluptatibus dolores aspernatur nulla consequatur nesciunt adipisci ipsa distinctio deserunt error minus fugit est culpa praesentium dicta voluptatum nam sequi!
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, debitis, voluptatibus dolores aspernatur nulla consequatur nesciunt adipisci ipsa distinctio deserunt error minus fugit est culpa praesentium dicta voluptatum nam sequi!
				</div>
			</div>
		</div>
		
		<div class="row addDevice">
			<div class="col-lg-10 col-lg-offset-1 newDevice">
				<input type="checkbox" name="Nuevo_Dispositivo" value="" ng-model="newDevice.wantNewDevice">
				<span>Añadir nuevo dispositivo </span>
			</div>
			
			<div class="col-lg-10 col-lg-offset-1 newDeviceData standar_h4a_form" ng-show="newDevice.wantNewDevice">
				<div class="col-lg-12">
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<label for='nombreDispositivo'>Nombre del dispositivo</label><br>
						<input type='text' class="form-control" name='nombreDispositivo' />
					</div>
				</div>
				
				<div class="col-lg-12">
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<label for='MAC'>MAC</label><br>
						<ng-switch on="newDevice.useThisMAC">
							<input ng-switch-when="true" type='text' class="form-control" name='mac' value='{{mac}}'/>
							<input ng-switch-default type='text' class="form-control" name='mac' value=''/>
						</ng-switch>
						
						<div class="aditional-info">
							<input type="checkbox" name="MAC_dispostivo" value="" ng-model="newDevice.useThisMAC"/>
							<span>Usar la MAC de este equipo </span>
						</div>
					</div>
				</div>
				
				<div class="col-lg-12" style="margin-top:15px">
					<input type="checkbox" name="MAC_dispostivo" value="" >
					<span>Hacer que X sea el usuario por defecto del dispositivo</span>
				</div>
			</div>
			
			<div class="col-lg-10 col-lg-offset-1" style="margin-top:15px">
				<button type="submit" class="btn btn-primary btn-lg">Siguiente</button>
			</div>
		</div>
	</div>
</div> 

<!-- antiguo estilo -->
<!-- <div class="panel panel-primary data-panel">

<div class="panel-heading" >

<span class='title' >

Añadir nuevo dispositivos

</span>

</div>

<div class="panel-body">

<form action="{{ path('new_usermac') }}" method="post" role="form" class='standar_h4a_form'>

<div class='row form-group'>

<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>

<label for='nombreDispositivo'>Dispositivo</label><br>

<input type='text' class="form-control" name='nombreDispositivo'/>

</div>

</div>

<div class='row form-group' ng-init='ischecked=false'>

<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>

<label for='MAC'>MAC</label><br>

<ng-switch on="ischecked">

<input ng-switch-when="true" type='text' class="form-control" name='mac' value='{{mac}}'/>

<input ng-switch-default type='text' class="form-control" name='mac' value=''/>

</ng-switch>

<div class="aditional-info">

<input type="checkbox" name="MAC_dispostivo" value="" ng-model="ischecked">

<span>Usar la MAC de este equipo </span>

</div>

</div>

</div>

<div class="oculto">

<input type="text" class="form-control" name="idUsuario" value={{id_usuario}}>

</div>

<div class='row form-group'>

<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>

<button type="submit" class="btn btn-primary btn-lg">Siguiente</button>

</div>

</div>

</form>

</div>

</div> -->


{% endblock %}