{% extends "layout.twig.html" %}
{% block contenido %}	
	
<div class="panel panel-primary data-panel">
	<div class="panel-heading" >
		<span class="fa-stack fa-2x">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-wheelchair fa-stack-1x"></i>
		</span> 
		
		<span class='title' >
			Gestión de usuarios
		</span>
		
	</div>
	<div class="panel-body">
		<ul>
			<li><a href="{{ path('verdisc') }}">Ver Usuarios</a></li>
			<li><a href="{{ path('newuser') }}">Crear Usuarios</a></li>
		</ul>
	</div>
</div>

<div class="panel panel-primary data-panel">
	<div class="panel-heading" >
		<span class="fa-stack fa-2x">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-home fa-stack-1x"></i>
		</span> 
		
		<span class='title' >
			Gestión de la casa
		</span>
		
	</div>
	<div class="panel-body">
		<ul>
			<li><a href="">Ver casa</a></li>
		</ul>
	</div>
</div>

<div class="panel panel-primary data-panel">
	<div class="panel-heading" >
		<span class="fa-stack fa-2x">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa  fa-tablet fa-stack-1x"></i>
		</span> 
		
		<span class='title' >
			Dispositivos
		</span>
		
	</div>
		

	<div class="panel-body">
		<ul>
			<li><a href="">Administrar dispositivos</a></li>
			<li><a href="{{ path('newDevice') }}">Añadir dispositivos</a></li>
		</ul>
	</div>
</div>

<div class="panel panel-primary data-panel">
	<div class="panel-heading" >
		<span class="fa-stack fa-2x">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-user fa-stack-1x"></i>
		</span> 
		
		<span class='title' >
			Datos personales
		</span>
		
	</div>
		

	<div class="panel-body">
		<ul>
			<li><a href="{{ path('editTutor') }}">Modifical Perfil</a></li>
		</ul>
	</div>
</div>

{% endblock %}
