{% extends "layout.twig.html" %}
{% block contenido %}	
{% if accion != "" %}
		<div class="panel  panel-success data-panel shadow">
			<div class="panel-heading" >
				{{accion}}
			</div>
		</div>
{% endif %}	
{% if (app.security.token is not null) and (is_granted('ROLE_ADMIN')) %}
<div class="panel panel-primary data-panel shadow">
	<div class="panel-heading" >
		<span class="fa-stack fa-2x">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-bullseye fa-stack-1x"></i>
		</span> 
		
		<span class='title' >
			Gestión de Sensores <span inline-help id-help="user"></span>
		</span>		
		
	</div>
	<div class="panel-body">
		<ul>
			<li><a href="{{ path('verSensor') }}">Ver Sensores</a></li>
			<li><a href="{{ path('nuevoSensor') }}">Añadir Sensores</a></li>
		</ul>
	</div>
</div>
{% endif %}
<div class="panel panel-primary data-panel shadow">
	<div class="panel-heading" >
		<span class="fa-stack fa-2x">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-wheelchair fa-stack-1x"></i>
		</span> 
		
		<span class='title' >
			Gestión de Usuarios <span inline-help id-help="user"></span>
		</span>		
		 <!-- <a class="tooltips"href="#"><i class="Lblanca fa fa-question-circle fa-3x"></i>
		 			<span>A traves de este panel podras gestionar los usuarios</span></a> -->
		
	</div>
	<div class="panel-body">
		<ul>
			<li><a href="{{ path('verdisc') }}">Ver Usuarios</a></li>
			<li><a href="{{ path('newuser') }}">Crear Usuarios</a></li>
		</ul>
	</div>
</div>

<div class="panel panel-primary data-panel shadow">
	<div class="panel-heading" >
		<span class="fa-stack fa-2x">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-home fa-stack-1x"></i>
		</span> 
		
		<span class='title' >
			Gestión de la Casa  
		</span>
		
	</div>
	<div class="panel-body">
		<ul>
			<li><a href="{{ path('adminCasa') }}">Administrar casa</a></li> 
		</ul>
	</div>
</div>

<div class="panel panel-primary data-panel shadow">
	<div class="panel-heading" >
		<span class="fa-stack fa-2x">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa  fa-tablet fa-stack-1x"></i>
		</span> 
		
		<span class='title' >
			Gestión de Dispositivos  <span inline-help id-help="device"></span> 
		</span>
		
	</div>
		

	<div class="panel-body">
		<ul>
			<li><a href="{{ path('verDisp') }}">Ver dispositivos</a></li>
			<li><a href="{{ path('newDevice') }}">Añadir dispositivos</a></li>
		</ul>
	</div>
</div>

<div class="panel panel-primary data-panel shadow">
	<div class="panel-heading" >
		<span class="fa-stack fa-2x">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-user fa-stack-1x"></i>
		</span> 
		
		<span class='title' >
			Datos personales
		</span>
		
	</div>
		

	<div class="panel-body">
		<ul>
			<li><a href="{{ path('verTutor') }}">Ver Perfil</a></li>
			<li><a href="{{ path('editTutor') }}">Modificar Perfil</a></li>			
		</ul>
	</div>
</div>

{% endblock %}
