{% extends "layout.twig.html" %}
{% block contenido %}

<div class="panel panel-primary data-panel">
	<div class="panel-heading" >

		<span class='title' >
			Daros del dispositivo
		</span>
		
	</div>
	<div class="panel-body">
		<form class='standar_h4a_form' action="{{ path('newDispositivo') }}" method="post" role="form">
			{% if error != "" %}
				<div class='row form-group'>
					<div class='col-lg-12 col-md-14 col-sm-16 col-xs-18 '>
						<div class="bg-danger data-panel shadow">
							<div class="panel-heading" >
								{{error}}
							</div>
						</div>
					</div>
				</div>	
			{% endif %}	
			<div class='row  form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='nombreDispositivo'>Dispositivo</label><br>
					<input type='text' class="form-control" name='nombreDispositivo' required/>
				</div>
			</div>
			{% if editar=="true" %} <fieldset disabled>{% endif %}
			{% for d in dispositivo %}
			<div class='row form-group' ng-init='ischecked=false'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='MAC'>MAC</label><br>
						<input type='text' class="form-control" name='MAC' value='{{mac}}' required/>					
				</div>
			</div>
			<div class='row form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='MAC'>Usuarios vinculados</label><br>
					<div class="fondoblanco">
					{% for u in usuarios %}
						<div class="checkbox">
						<label>
							<input type="checkbox" value="{{u.id_usuario}}" name="numero[]"/>
								<span>{{u.mail_usuario}}</span>
						</label>
						</div>
					{% endfor %} 
					</div>
				</div>	
			</div>
			
			<div class='row form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='usuarioDefecto'>Usuario por defecto</label><br>
					<select class="form-control" name="usuarioDefecto">
						<option></option>
						{% for u in usuarios %}
							<option  value="{{u.id_usuario}}">{{u.mail_usuario}}</option>
						{% endfor %} 
					</select>			
				</div>
			</div>
			<div class='row form-group'>
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<button type="submit" class="btn btn-primary btn-lg">Añadir</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}