{% extends "layout.twig.html" %}

	{% block contenido %}
	<div class="row" style="margin-top:2%">
			<h2 class="text-center">Usuarios tutorados </h2>
			<table id="t01">
					<tr>
						<th>Nombre de usuario</th>
						<th>Nombre Complero</th>
						<th>MAC</th>	
						<th>tipo de minisvalia</th>	
						<th>Opciones</th>
					</tr>
			{% for discapacitado in discapacitados %}				
					<tr>
						<td>{{discapacitado.discuser}}</td>
						<td>{{discapacitado.discnombre}}</td>
						<td>{{discapacitado.discmac}}</td>	
						<td>{{discapacitado.discmac}}</td>	
						<td>
							<i class="fa fa-eye fa-lg" style='padding-left:10px;'></i>
							<i class="fa fa-pencil-square-o" style='padding-left:10px;'></i>	
							<i class="fa fa-trash" style='padding-left:10px;'></i>
						</td>	
					</tr>				
			{% else %}
				<center><h3>Aún no ha publicado ningún sorteo</h3></center>
			{% endfor %}
			</table>
	</div>
	

			
	{% endblock %}


