{% extends "layout.twig.html" %}
{% block contenido %}


<div class="panel panel-primary data-panel" ng-controller="bedroomSensorLinker" >
	<div class="panel-heading" >
		<span class='title' >
			Añadir Habitacion 
		</span>		
	</div>
	<div class="panel-body userDeviceLinker">
		<div class="row selectDevices">
			<div class="col-lg-4 col-lg-offset-1 toAddDevice shadow">
				<div class="title">
					Sensores/Actiadores enlazados
				</div>
				<div class="data">
					<div ng-class="{active : dev.selected}" class="device" ng-repeat="dev in selectedSensors" ng-click="dev.select()">
						<span class="bold_text">Nombre:</span>
						<span ng-bind="dev.name"></span><br>
						<span class="bold_text">Tipo:</span>
						<span ng-bind="dev.tipe"></span><br>
						<span class="bold_text">Descripción:</span>
						<span ng-bind="dev.description"></span>
					</div>
				</div>
			</div>		
			{% if editar=="false" %}			
			<div class="col-lg-2 actions">
				<div class="col-lg-12">
					<button ng-click="linkSensors()"  type="submit" class="btn btn-success btn-lg col-lg-12">&#9664; Enlazar</button>
				</div>
				<div class="col-lg-12">
					<button ng-click="unlinkSensors()" type="submit" class="btn btn-danger btn-lg col-lg-12">Quitar &#9654;</button>
				</div>
				<div></button>
				</div>
			</div>
			
			<div class="col-lg-4 allDevices shadow">
				<div class="title col-lg-12">
					Sensores/Actiadores existentes
				</div>
				<div class="data col-lg-12">
					<div ng-class="{active : dev.selected}" class="device" ng-repeat="dev in allSensors" ng-click="dev.select()">
						<span class="bold_text">Nombre:</span>
						<span ng-bind="dev.name"></span><br>
						<span class="bold_text">Tipo:</span>
						<span ng-bind="dev.tipe"></span><br>
						<span class="bold_text">Descripción:</span>
						<span ng-bind="dev.description"></span>
					</div>
				</div>
			</div>
			{% endif %}
		</div><br/>
		
		<form  class='standar_h4a_form' method="post"  role="form" action="{{ path('modHabitacion') }}">
		{% if editar=="true" %} <fieldset disabled>{% endif %}
		{% for h in habitacion %}
			<input type='number' class="oculto" value='{{h.id_habitacion}}' name='id_hab' id='id_hab' required/>
			<div class="col-lg-10 col-lg-offset-1 newDeviceData standar_h4a_form">
				<div class='row form-group'>
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for='newTutor_mail'>Nombre de la habitación</label><br>
					<input type='text' class="oculto" value='{{h.nombre_habitacion}}' name='nombre_habAnt' required/>
					<input type='text' class="form-control" value='{{h.nombre_habitacion}}' name='nombre_hab' required/>
				</div>
			</div>
			</div>
			
			<div class="col-lg-10 col-lg-offset-1 newDeviceData standar_h4a_form">
				<div class='row form-group'>
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<label for='newTutor_mail'>Tipo de habitación</label><br>
						<select class="form-control" name='tipo_hab'>
							<option>{{h.tipo_habitacion}}</option>
							<option>Dormitorio</option>
							<option>Salon</option>
							<option>Cocina</option>
							<option>Baño</option>
							<option>Comedor</option>
							<option>Cochera</option>
							<option>Patio</option>
							<option>Otros</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-1 newDeviceData standar_h4a_form">
				<div class='row form-group'>
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<label for='propietario_hab'>Usuario por defecto</label><br>
						<select class="form-control" name="propietario_hab">
							{%if propietario == "conProp" %}
							<option value="sameuser">{{h.mail_usuario}}</option>
							{% endif %}
							<option></option>
							{% for u in usuarios %}
								<option  value="{{u.id_usuario}}">{{u.mail_usuario}}</option>
							{% endfor %} 
							
						</select>			
					</div>
				</div>
			</div>
			
					{% if editar=="true" %}
				</fieldset>
				{% else %}
				<div class="col-lg-10 col-lg-offset-1" style="margin-top:15px">
				<button type="submit" name="send" ng-value="formatedData" ng-click="prepareData()" class="btn btn-primary btn-lg">Añadir</button>
			</div>	
				{% endif %}
		{% endfor %}
		</form>		
	</div>
</div> 


{% endblock %}