{% extends "layout.twig.html" %}

{% block contenido %}
<div class="panel panel-primary data-panel shadow">
	<div class="panel-heading" >	
		<span class='title' >
				Datos de Usuario
		</span>
	</div>
	<div class="panel-body">
		<form id="form-login" class='standar_h4a_form' action="{{ path('modUsuario') }}" method="post" role="form">
		{% if editar=="true" %} <fieldset disabled>{% endif %}
		{% for u in usuario %}
			<div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for="usuario_mail">Mail</label>
					<input type="email" class="form-control" name="usuario_mail"  value={{u.mail_usuario}}>
				</div>
			</div>
			<div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for="usuario_nombre">Nombre</label>
					<input type="text" class="form-control" name="usuario_nombre" value={{u.nombre_usuario}}>
				</div>
			</div>
		    <div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for="usuario_apellidos">Apellidos</label>
					<input type="text" class="form-control" name="usuario_apellidos" value={{u.apellidos_usuario}}>
				</div>
		    </div>
		    <div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for="usuario_fnac">Fecha de nacimiento</label>
					<input type="date" class="form-control"  name="usuario_fnac" value={{u.fnac_usuario}}>
				</div>
		    </div>
		    <div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for="usuario_tlfn">Telefono</label>
					<input type="tel" class="form-control" name="usuario_tlfn" value={{u.tlfn_usuario}} >
				</div>
		    </div>
		    <div class="oculto row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<input type="text" class="form-control" name="id_usuario" value={{u.id_usuario}}>
				 </div>
			</div>	
			<div class="oculto row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<input type="password" class="form-control pass" value={{u.pass_usuario}} name="usuario_oldpass">
				</div>
		    </div>					
			{% if editar=="true" %}
				</fieldset>
			{% else %}
				<div class="row form-group">
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<label for="pass">Contraseña</label>
						<input type="password" class="form-control pass" id="pass" value="passpordefecto" name="pass" >
					</div>
				</div>
				<div class="row form-group">
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<label for="repass">Repita Contraseña</label>
						<input type="password" class="form-control repass" id="repass" value="passpordefecto" name="repass"> 
						<div id="mensaje2" class="errores"> La contraseña y la validacion debe ser iguales</div>
						<div id="mensaje1" class="errores"> La contraseña no puede estar vacia</div>
					</div>
				</div>
				<div class="row form-group">
					<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
						<button id="boton" type="submit" class="btn btn-primary btn-lg">Modificar</button>
					</div>
				</div>
			{% endif %}
		{% endfor %}  
		</form>
	</div>
</div>
{% endblock %}


