{% extends "layout.twig.html" %}
{% block contenido %}
	

<div class="panel panel-primary data-panel shadow">
	<div class="panel-heading" >	
		<span class='title' >
				Datos de Usuario
		</span>
	</div>
	<div class="panel-body">
		<form id="form-login" class='standar_h4a_form' action="{{ path('tutor') }}" method="get" role="form">
		
		
			<div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for="usuario_mail">Mail</label>
					<input type="email" class="form-control" name="usuario_mail"  value="{{mail}}" >
				</div>
			</div>
			<div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for="usuario_nombre">Nombre</label>
					<input type="text" class="form-control" name="usuario_nombre" value="{{userName}}" >
				</div>
			</div>
		    <div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for="usuario_apellidos">Apellidos</label>
					<input type="text" class="form-control" name="usuario_apellidos" value="{{userSurname}}" >
				</div>
		    </div>
		    <div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for="usuario_fnac">Fecha de nacimiento</label>
					<input type="date" class="form-control"  name="usuario_fnac" value="{{fec_nac}}" >
				</div>
		    </div>
		    <div class="row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<label for="usuario_tlfn">Telefono</label>
					<input type="tel" class="form-control" name="usuario_tlfn" value="{{telf}}" >
				</div>
		    </div>
		    <div class="oculto row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<input type="text" class="form-control" name="id_usuario" value="">
				 </div>
			</div>	
			<div class="oculto row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<input type="password" class="form-control pass" value="" name="usuario_oldpass">
				</div>
		    </div>	
			<div class="oculto row form-group">
				<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12 '>
					<input type="text" class="form-control pass" value="" name="usuario_oldmail">
				</div>
		    </div>				
			
			<div class="row form-group" style="padding:20px">

				<button id="boton_usuario" type="submit" class="btn btn-primary btn-lg">Modificar</button>
				</form>
						
					
				<form id="form-exit"  action="{{ path('tutor') }}" method="get" role="form" style="display:inline">
					<button type="submit" class="btn btn-warning btn-lg">Cancelar</button>
				</form>
			</div>
	</div>
</div>


{% endblock %}